# IDE
.idea/

# Node
node_modules/

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
*.log

# Typescript
*.tsbuildinfo

# Vite
.DS_Store
dist
dist-ssr
*.local

# api-extractor
temp

# local env
.env.local
src/test.ts